#container_1 {
  text-align: center;
  color: #fff;
}
.play-button-container {
  width: 100%;
}
#fullName,
#email,
#age {
  color: #fff;
  background-color: #111;
}

label {
  color: #fff;
}

#container_2 {
  display: flex;
  width: 100%;
  justify-content: center;
}
.form {
  width: 100%;
  margin-bottom: 1em;
}

#survey-form {
  width: 43%;
}

#submit {
  width: 100%;
  margin-top: 40px;
  background-color: #57b846;
  color: #fff;
  cursor: pointer;
  padding: 1rem;
  display: block;
  text-align: center;
  border-radius: 30px;
  transition: 0.3s linear all;
}

textarea {
  width: 100%;
}
